<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="featuresFilePath" value="files\features.txt"/>
    <add key="commandsFilePath" value="files\commands.txt"/>
    <add key="logFilePath" value ="files\logfile.txt"/>
    <add key="modelFilePath" value="files\Models\"/>
    <add key="timeLogFile" value="files\timelogfile.txt"/>
  </appSettings>
</configuration>